* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.back {
    background-image: url("hospital_icon/background_contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.child {
    height: 40vh;
    width: 40%;
    background-color: aqua;
}