*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.containers{
    
    /* background-color: blanchedalmond; */
    align-items: center;
    background-image: url("hospital_icon/background_contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}
.contact_form{

    height: 40vh;
    width: 40%;
    background-color: aqua;

    
}